modules/module_catalog/Ed-Fi/v2/pipeline/1_land_edfi_loop_batches.json
{
    "name": "1_land_edfi_loop_batches",
    "properties": {
        "activities": [
            {
                "name": "Until-IsFinished-becomes-True",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "Set-BatchInterval",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('IsFinished'), bool(1))",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "If-20Mins-Past-LatestTokenGeneratedAt",
                            "type": "IfCondition",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@greaterOrEquals(addMinutes(utcNow(), -20), variables('LatestTokenGeneratedAt'))",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "RefreshAccessTokenRequest",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "get_edfi_access_token",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "workspace": {
                                                    "value": "@pipeline().parameters.workspace",
                                                    "type": "Expression"
                                                },
                                                "AuthUrl": {
                                                    "value": "@pipeline().parameters.AuthURL",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "RefreshAccessToken",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "RefreshAccessTokenRequest",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "AccessToken",
                                            "value": {
                                                "value": "@activity('RefreshAccessTokenRequest').output.pipelineReturnValue.access_token",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ],
                    "timeout": "0.12:00:00"
                }
            },
            {
                "name": "Set-PartitionSize",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "NumberOfPartitions",
                    "value": {
                        "value": "@if(greater(mod(int(pipeline().parameters.TotalCount), int(variables('PartitionSize'))), 0), string(add(div(int(pipeline().parameters.TotalCount), int(variables('PartitionSize'))), 1)), string(div(int(pipeline().parameters.TotalCount), int(variables('PartitionSize')))))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-BatchInterval",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Set-IsFinished-to-False",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-LatestTokenGeneratedAt",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-PartitionSize",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-AccessToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "BatchSize",
                    "value": {
                        "value": "@string(div(sub(int(pipeline().parameters.MaxChangeVersion), int(pipeline().parameters.MinChangeVersion)), int(variables('NumberOfPartitions'))))",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Loop-through-Batch-Intervals",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set-BatchInterval",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@range(0, int(variables('NumberOfPartitions')))",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 2,
                    "activities": [
                        {
                            "name": "Get-TotalCount-in-Batch",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat(pipeline().parameters.ChangedEntityURL,'MinChangeVersion=',string(mul(item(), int(variables('BatchSize')))),'&MaxChangeVersion=',string(mul(add(item(), 1), int(variables('BatchSize')))),'&totalCount=true')",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "AutoResolveIntegrationRuntime",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "GET",
                                "headers": {
                                    "Authorization": {
                                        "value": "@variables('AccessToken')",
                                        "type": "Expression"
                                    }
                                },
                                "body": {
                                    "grant_type": "client_credentials"
                                }
                            }
                        },
                        {
                            "name": "If-TotalCount-in-Batch-GreaterThan-Zero",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get-TotalCount-in-Batch",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@greater(int(activity('Get-TotalCount-in-Batch').output.ADFWebActivityResponseHeaders['total-count']), 0)",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy-Upserts-JSON-to-ADLS",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "SetRefreshTokenForBatch",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "RestSource",
                                                "httpRequestTimeout": "00:01:40",
                                                "requestInterval": "00.00:00:00.010",
                                                "requestMethod": "GET",
                                                "additionalHeaders": {
                                                    "Authorization": {
                                                        "value": "@variables('AccessToken')",
                                                        "type": "Expression"
                                                    }
                                                },
                                                "paginationRules": {
                                                    "QueryParameters.{offset}": {
                                                        "value": "Range:0:@{int(activity('Get-TotalCount-in-Batch').output.ADFWebActivityResponseHeaders['total-count'])}:@{pipeline().parameters.ApiLimit}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "sink": {
                                                "type": "JsonSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "JsonWriteSettings",
                                                    "filePattern": "setOfObjects"
                                                }
                                            },
                                            "enableStaging": false
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS_REST_Anonymous",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "BaseURL": {
                                                        "value": "@{pipeline().parameters.ChangedEntityURL}MinChangeVersion=@{mul(item(), int(variables('BatchSize')))}&MaxChangeVersion=@{mul(add(item(), 1), int(variables('BatchSize')))}&limit=@{pipeline().parameters.ApiLimit}&offset={offset}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_JSON",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "stage": "stage1",
                                                    "path": {
                                                        "value": "@pipeline().parameters.UpsertsSinkPath",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "RefreshAccessTokenForBatch",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "get_edfi_access_token",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "workspace": {
                                                    "value": "@pipeline().parameters.workspace",
                                                    "type": "Expression"
                                                },
                                                "AuthUrl": {
                                                    "value": "@pipeline().parameters.AuthURL",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "SetRefreshTokenForBatch",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "RefreshAccessTokenForBatch",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "AccessToken",
                                            "value": {
                                                "value": "@activity('RefreshAccessTokenForBatch').output.pipelineReturnValue.access_token",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "If-AuthError-then-Retry-Batch",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "If-TotalCount-in-Batch-GreaterThan-Zero",
                                    "dependencyConditions": [
                                        "Failed"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@contains(activity('Copy-Upserts-JSON-to-ADLS').output.errors[0], 'status code 401 Unauthorized')",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy-Upserts-JSON-to-ADLS-First-Half",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "RefreshAccessTokenFirstHalf",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "RestSource",
                                                "httpRequestTimeout": "00:01:40",
                                                "requestInterval": "00.00:00:00.010",
                                                "requestMethod": "GET",
                                                "additionalHeaders": {
                                                    "Authorization": {
                                                        "value": "@activity('RefreshAccessTokenFirstHalf').output.pipelineReturnValue.access_token",
                                                        "type": "Expression"
                                                    }
                                                },
                                                "paginationRules": {
                                                    "QueryParameters.{offset}": {
                                                        "value": "Range:0:@{int(activity('Get-TotalCount-in-Batch').output.ADFWebActivityResponseHeaders['total-count'])}:@{pipeline().parameters.ApiLimit}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "sink": {
                                                "type": "JsonSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "JsonWriteSettings",
                                                    "filePattern": "setOfObjects"
                                                }
                                            },
                                            "enableStaging": false
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS_REST_Anonymous",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "BaseURL": {
                                                        "value": "@{pipeline().parameters.ChangedEntityURL}MinChangeVersion=@{mul(item(), int(variables('BatchSize')))}&MaxChangeVersion=@{mul(add(item(), 1), int(variables('BatchSize')))}&limit=@{pipeline().parameters.ApiLimit}&offset={offset}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_JSON",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "stage": "stage1",
                                                    "path": {
                                                        "value": "@pipeline().parameters.UpsertsSinkPath",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Copy-Upserts-JSON-to-ADLS-Second-Half",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "RefreshAccessTokenSecondHalf",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "RestSource",
                                                "httpRequestTimeout": "00:01:40",
                                                "requestInterval": "00.00:00:00.010",
                                                "requestMethod": "GET",
                                                "additionalHeaders": {
                                                    "Authorization": {
                                                        "value": "@activity('RefreshAccessTokenSecondHalf').output.pipelineReturnValue.access_token",
                                                        "type": "Expression"
                                                    }
                                                },
                                                "paginationRules": {
                                                    "QueryParameters.{offset}": {
                                                        "value": "Range:0:@{int(activity('Get-TotalCount-in-Batch').output.ADFWebActivityResponseHeaders['total-count'])}:@{pipeline().parameters.ApiLimit}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "sink": {
                                                "type": "JsonSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "JsonWriteSettings",
                                                    "filePattern": "setOfObjects"
                                                }
                                            },
                                            "enableStaging": false
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS_REST_Anonymous",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "BaseURL": {
                                                        "value": "@{pipeline().parameters.ChangedEntityURL}MinChangeVersion=@{mul(item(), int(variables('BatchSize')))}&MaxChangeVersion=@{mul(add(item(), 1), int(variables('BatchSize')))}&limit=@{pipeline().parameters.ApiLimit}&offset={offset}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_JSON",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "stage": "stage1",
                                                    "path": {
                                                        "value": "@pipeline().parameters.UpsertsSinkPath",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "RefreshAccessTokenFirstHalf",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "get_edfi_access_token",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "workspace": {
                                                    "value": "@pipeline().parameters.workspace",
                                                    "type": "Expression"
                                                },
                                                "AuthUrl": {
                                                    "value": "@pipeline().parameters.AuthURL",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "RefreshAccessTokenSecondHalf",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "get_edfi_access_token",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "workspace": {
                                                    "value": "@pipeline().parameters.workspace",
                                                    "type": "Expression"
                                                },
                                                "AuthUrl": {
                                                    "value": "@pipeline().parameters.AuthURL",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "name": "If-GatewayTimeoutError-then-Retry-Batch",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "If-TotalCount-in-Batch-GreaterThan-Zero",
                                    "dependencyConditions": [
                                        "Failed"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@contains(activity('Copy-Upserts-JSON-to-ADLS').output.errors[0], 'status code 504 GatewayTimeout')",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Copy-Upserts-JSON-to-ADLS-First-Half-Gateway",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "RefreshAccessTokenFirstHalfGateway",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "RestSource",
                                                "httpRequestTimeout": "00:01:40",
                                                "requestInterval": "00.00:00:00.010",
                                                "requestMethod": "GET",
                                                "additionalHeaders": {
                                                    "Authorization": {
                                                        "value": "@activity('RefreshAccessTokenFirstHalfGateway').output.pipelineReturnValue.access_token",
                                                        "type": "Expression"
                                                    }
                                                },
                                                "paginationRules": {
                                                    "QueryParameters.{offset}": {
                                                        "value": "Range:0:@{int(activity('Get-TotalCount-in-Batch').output.ADFWebActivityResponseHeaders['total-count'])}:@{pipeline().parameters.ApiLimit}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "sink": {
                                                "type": "JsonSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "JsonWriteSettings",
                                                    "filePattern": "setOfObjects"
                                                }
                                            },
                                            "enableStaging": false
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS_REST_Anonymous",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "BaseURL": {
                                                        "value": "@{pipeline().parameters.ChangedEntityURL}MinChangeVersion=@{mul(item(), int(variables('BatchSize')))}&MaxChangeVersion=@{mul(add(item(), 1), int(variables('BatchSize')))}&limit=@{pipeline().parameters.ApiLimit}&offset={offset}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_JSON",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "stage": "stage1",
                                                    "path": {
                                                        "value": "@pipeline().parameters.UpsertsSinkPath",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Copy-Upserts-JSON-to-ADLS-Second-Half-Gateway",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "RefreshAccessTokenSecondHalfGateway",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "RestSource",
                                                "httpRequestTimeout": "00:01:40",
                                                "requestInterval": "00.00:00:00.010",
                                                "requestMethod": "GET",
                                                "additionalHeaders": {
                                                    "Authorization": {
                                                        "value": "@activity('RefreshAccessTokenSecondHalfGateway').output.pipelineReturnValue.access_token",
                                                        "type": "Expression"
                                                    }
                                                },
                                                "paginationRules": {
                                                    "QueryParameters.{offset}": {
                                                        "value": "Range:0:@{int(activity('Get-TotalCount-in-Batch').output.ADFWebActivityResponseHeaders['total-count'])}:@{pipeline().parameters.ApiLimit}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            },
                                            "sink": {
                                                "type": "JsonSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "JsonWriteSettings",
                                                    "filePattern": "setOfObjects"
                                                }
                                            },
                                            "enableStaging": false
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "DS_REST_Anonymous",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "BaseURL": {
                                                        "value": "@{pipeline().parameters.ChangedEntityURL}MinChangeVersion=@{mul(item(), int(variables('BatchSize')))}&MaxChangeVersion=@{mul(add(item(), 1), int(variables('BatchSize')))}&limit=@{pipeline().parameters.ApiLimit}&offset={offset}",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_JSON",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "stage": "stage1",
                                                    "path": {
                                                        "value": "@pipeline().parameters.UpsertsSinkPath",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "Wait-for-2-Minutes",
                                        "type": "Wait",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "waitTimeInSeconds": 120
                                        }
                                    },
                                    {
                                        "name": "RefreshAccessTokenFirstHalfGateway",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [
                                            {
                                                "activity": "Wait-for-2-Minutes",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "get_edfi_access_token",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "workspace": {
                                                    "value": "@pipeline().parameters.workspace",
                                                    "type": "Expression"
                                                },
                                                "AuthUrl": {
                                                    "value": "@pipeline().parameters.AuthURL",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "RefreshAccessTokenSecondHalfGateway",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [
                                            {
                                                "activity": "Copy-Upserts-JSON-to-ADLS-First-Half-Gateway",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "get_edfi_access_token",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "workspace": {
                                                    "value": "@pipeline().parameters.workspace",
                                                    "type": "Expression"
                                                },
                                                "AuthUrl": {
                                                    "value": "@pipeline().parameters.AuthURL",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "Set-IsFinished-to-False",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "IsFinished",
                    "value": {
                        "value": "@bool(0)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-IsFinished-to-True",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Loop-through-Batch-Intervals",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "IsFinished",
                    "value": {
                        "value": "@bool(1)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-LatestTokenGeneratedAt",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetAccessToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "LatestTokenGeneratedAt",
                    "value": {
                        "value": "@string(utcNow())",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-AccessToken",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetAccessToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "AccessToken",
                    "value": {
                        "value": "@activity('GetAccessToken').output.pipelineReturnValue.access_token",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "GetAccessToken",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "get_edfi_access_token",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "workspace": {
                            "value": "@pipeline().parameters.workspace",
                            "type": "Expression"
                        },
                        "AuthUrl": {
                            "value": "@pipeline().parameters.AuthURL",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "TotalCount": {
                "type": "string"
            },
            "AuthURL": {
                "type": "string"
            },
            "ClientId": {
                "type": "string"
            },
            "SecretName": {
                "type": "string"
            },
            "ChangedEntityURL": {
                "type": "string"
            },
            "ApiLimit": {
                "type": "string"
            },
            "UpsertsSinkPath": {
                "type": "string"
            },
            "MinChangeVersion": {
                "type": "string"
            },
            "MaxChangeVersion": {
                "type": "string"
            },
            "workspace": {
                "type": "string"
            }
        },
        "variables": {
            "AccessToken": {
                "type": "String"
            },
            "PartitionSize": {
                "type": "String",
                "defaultValue": "10000"
            },
            "BatchSize": {
                "type": "String"
            },
            "NumberOfPartitions": {
                "type": "String"
            },
            "IsFinished": {
                "type": "Boolean"
            },
            "LatestTokenGeneratedAt": {
                "type": "String"
            }
        },
        "folder": {
            "name": "EdFi Module/land"
        },
        "annotations": [],
        "lastPublishTime": "2023-04-18T17:47:31Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}