modules/module_catalog/Ed-Fi/v2/pipeline/get_secret_from_kv.json
{
    "name": "get_secret_from_kv",
    "properties": {
        "activities": [
            {
                "name": "get secret",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": true,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat(pipeline().parameters.secret_uri,'/?api-version=7.0')",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net"
                    }
                }
            },
            {
                "name": "return secret",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "get secret",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "pipelineReturnValue",
                    "value": [
                        {
                            "key": "secret",
                            "value": {
                                "type": "Expression",
                                "content": "@activity('get secret').output"
                            }
                        }
                    ],
                    "setSystemVariable": true
                }
            }
        ],
        "parameters": {
            "secret_uri": {
                "type": "string"
            }
        },
        "variables": {
            "edfi_clientid": {
                "type": "String"
            },
            "edfi_clientsecret": {
                "type": "String"
            }
        },
        "folder": {
            "name": "OEA_Framework"
        },
        "annotations": [],
        "lastPublishTime": "2023-04-13T17:44:40Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}