modules/module_catalog/Ed-Fi/v2/pipeline/get_edfi_access_token.json
{
    "name": "get_edfi_access_token",
    "properties": {
        "activities": [
            {
                "name": "GetAccessToken",
                "type": "IfCondition",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(pipeline().parameters.workspace,'dev')",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Get-AccessToken-BasicAuth",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@pipeline().parameters.AuthUrl",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "AutoResolveIntegrationRuntime",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "POST",
                                "body": {
                                    "grant_type": "client_credentials"
                                }
                            }
                        },
                        {
                            "name": "set_access_token",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Get-AccessToken-BasicAuth",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "AccessToken",
                                "value": {
                                    "value": "@concat('Bearer ',activity('Get-AccessToken-BasicAuth').output.access_token)",
                                    "type": "Expression"
                                }
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Get-AccessToken-AuthHeader",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@pipeline().parameters.AuthUrl",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "AutoResolveIntegrationRuntime",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "POST",
                                "headers": {
                                    "Authorization": "Basic UnZjb2hLejl6SEk0OkUxaUVGdXNhTmY4MXh6Q3h3SGZib2xrQw=="
                                },
                                "body": {
                                    "grant_type": "client_credentials"
                                }
                            }
                        },
                        {
                            "name": "set_access_token_test_data",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Get-AccessToken-AuthHeader",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "AccessToken",
                                "value": {
                                    "value": "@concat('Bearer ',activity('Get-AccessToken-AuthHeader').output.access_token)",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "ReturnAccessToken",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GetAccessToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "pipelineReturnValue",
                    "value": [
                        {
                            "key": "access_token",
                            "value": {
                                "type": "Expression",
                                "content": "@variables('AccessToken')"
                            }
                        }
                    ],
                    "setSystemVariable": true
                }
            }
        ],
        "parameters": {
            "workspace": {
                "type": "string",
                "defaultValue": "dev"
            },
            "AuthUrl": {
                "type": "string",
                "defaultValue": "https://api.ed-fi.org/v5.2/api/oauth/token"
            }
        },
        "variables": {
            "AccessToken": {
                "type": "String"
            }
        },
        "folder": {
            "name": "EdFi Module"
        },
        "annotations": [],
        "lastPublishTime": "2023-04-17T20:45:17Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}