modules/module_catalog/Ed-Fi/pipeline/Copy_Stage1_To_Stage2.json
{
    "name": "Copy_Stage1_To_Stage2",
    "properties": {
        "activities": [
            {
                "name": "Iterate Upserts",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get-CheckpointKeysFile",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get-CheckpointKeysFile').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 2,
                    "activities": [
                        {
                            "name": "Process Upserts",
                            "type": "ExecuteDataFlow",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataflow": {
                                    "referenceName": "edfi_upsert",
                                    "type": "DataFlowReference",
                                    "parameters": {
                                        "DistrictId": {
                                            "value": "'@{pipeline().parameters.DistrictId}'",
                                            "type": "Expression"
                                        },
                                        "SchoolYear": {
                                            "value": "'@{pipeline().parameters.SchoolYear}'",
                                            "type": "Expression"
                                        },
                                        "IngestedFolder": {
                                            "value": "'@{pipeline().parameters.IngestedFolder}'",
                                            "type": "Expression"
                                        },
                                        "TransactionalFolder": {
                                            "value": "'@{pipeline().parameters.TransactionalFolder}'",
                                            "type": "Expression"
                                        },
                                        "Entity": {
                                            "value": "'@{item().resource}'",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "compute": {
                                    "coreCount": 8,
                                    "computeType": "General"
                                },
                                "traceLevel": "Fine",
                                "continuationSettings": {
                                    "customizedCheckpointKey": {
                                        "value": "@item().checkpoint",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Check-CheckpointKeysFileExists",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DS_JSON_File",
                        "type": "DatasetReference",
                        "parameters": {
                            "stage": "2",
                            "path": {
                                "value": "@pipeline().parameters.IngestedFolder",
                                "type": "Expression"
                            },
                            "fileName": {
                                "value": "@variables('CheckpointKeyFileName')",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "JsonReadSettings"
                    }
                }
            },
            {
                "name": "Create-CheckpointKeysFileIfNotExists",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Check-CheckpointKeysFileExists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Check-CheckpointKeysFileExists').output.exists",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Create-CheckpointKeysFile",
                            "type": "ExecuteDataFlow",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataflow": {
                                    "referenceName": "Create_CheckpointKeysFile",
                                    "type": "DataFlowReference",
                                    "parameters": {
                                        "CheckpointKeySuffix": {
                                            "value": "'@{pipeline().parameters.CheckpointKeySuffix}'",
                                            "type": "Expression"
                                        }
                                    },
                                    "datasetParameters": {
                                        "EdFiEntitiesSource": {
                                            "BaseURL": {
                                                "value": "@pipeline().parameters.DependenciesUrl",
                                                "type": "Expression"
                                            }
                                        },
                                        "CheckpointKeysFile": {
                                            "stage": "2",
                                            "path": {
                                                "value": "@pipeline().parameters.IngestedFolder",
                                                "type": "Expression"
                                            },
                                            "fileName": {
                                                "value": "@variables('CheckpointKeyFileName')",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                },
                                "compute": {
                                    "coreCount": 8,
                                    "computeType": "General"
                                },
                                "traceLevel": "Fine"
                            }
                        }
                    ]
                }
            },
            {
                "name": "Get-CheckpointKeysFile",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Create-CheckpointKeysFileIfNotExists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "DS_JSON_File",
                        "type": "DatasetReference",
                        "parameters": {
                            "stage": "2",
                            "path": {
                                "value": "@pipeline().parameters.IngestedFolder",
                                "type": "Expression"
                            },
                            "fileName": {
                                "value": "@variables('CheckpointKeyFileName')",
                                "type": "Expression"
                            }
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Iterate Deletes",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Iterate Upserts",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get-CheckpointKeysFile').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 2,
                    "activities": [
                        {
                            "name": "Process Deletes",
                            "type": "ExecuteDataFlow",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataflow": {
                                    "referenceName": "edfi_delete",
                                    "type": "DataFlowReference",
                                    "parameters": {
                                        "DistrictId": {
                                            "value": "'@{pipeline().parameters.DistrictId}'",
                                            "type": "Expression"
                                        },
                                        "SchoolYear": {
                                            "value": "'@{pipeline().parameters.SchoolYear}'",
                                            "type": "Expression"
                                        },
                                        "Entity": {
                                            "value": "'@{item().resource}'",
                                            "type": "Expression"
                                        },
                                        "IngestedFolder": {
                                            "value": "'@{pipeline().parameters.IngestedFolder}'",
                                            "type": "Expression"
                                        },
                                        "TransactionalFolder": {
                                            "value": "'@{pipeline().parameters.TransactionalFolder}'",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "compute": {
                                    "coreCount": 8,
                                    "computeType": "General"
                                },
                                "traceLevel": "Fine",
                                "continuationSettings": {
                                    "customizedCheckpointKey": {
                                        "value": "@item().checkpoint",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "ModuleName": {
                "type": "string",
                "defaultValue": "Ed-Fi"
            },
            "DistrictId": {
                "type": "string",
                "defaultValue": "All"
            },
            "SchoolYear": {
                "type": "string",
                "defaultValue": "2022"
            },
            "ApiVersion": {
                "type": "string",
                "defaultValue": "5.2"
            },
            "TransactionalFolder": {
                "type": "string",
                "defaultValue": "Transactional/Ed-Fi/v5.2/DistrictId=All/SchoolYear=2022"
            },
            "IngestedFolder": {
                "type": "string",
                "defaultValue": "Ingested/Ed-Fi/v5.2"
            },
            "DependenciesUrl": {
                "type": "string",
                "defaultValue": "https://api.edgraph.dev/edfi/v5.2/saas/metadata/data/v3/123/2022/dependencies"
            },
            "CheckpointKeySuffix": {
                "type": "string",
                "defaultValue": "006"
            }
        },
        "variables": {
            "CheckpointKeyFileName": {
                "type": "String",
                "defaultValue": "checkpoints.json"
            }
        },
        "folder": {
            "name": "Modules/Ed-Fi/Single District Per Instance"
        },
        "annotations": [],
        "lastPublishTime": "2022-11-04T17:56:04Z"
    }
}