modules/module_catalog/Ed-Fi/pipeline/Copy_from_REST_Anonymous_to_ADLS.json
{
    "name": "Copy_from_REST_Anonymous_to_ADLS",
    "properties": {
        "activities": [
            {
                "name": "Get-TotalCount-Records",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "Set-AccessToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@{pipeline().parameters.ChangedEntityURL}?MinChangeVersion=@{pipeline().parameters.MinChangeVersion}&MaxChangeVersion=@{pipeline().parameters.MaxChangeVersion}&totalCount=true",
                        "type": "Expression"
                    },
                    "method": "GET",
                    "headers": {
                        "Authorization": {
                            "value": "@variables('AccessToken')",
                            "type": "Expression"
                        },
                        "Accept": "application/json"
                    }
                }
            },
            {
                "name": "Set-TotalCount",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get-TotalCount-Records",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "TotalCount",
                    "value": {
                        "value": "@activity('Get-TotalCount-Records').output.ADFWebActivityResponseHeaders['total-count']",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Get-AccessToken",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@pipeline().parameters.AuthURL",
                        "type": "Expression"
                    },
                    "method": "POST",
                    "body": {
                        "grant_type": "client_credentials"
                    },
                    "authentication": {
                        "type": "Basic",
                        "username": {
                            "value": "@pipeline().parameters.ClientId",
                            "type": "Expression"
                        },
                        "password": {
                            "type": "AzureKeyVaultSecret",
                            "store": {
                                "referenceName": "LS_KeyVault_OEA",
                                "type": "LinkedServiceReference"
                            },
                            "secretName": {
                                "value": "@pipeline().parameters.SecretName",
                                "type": "Expression"
                            }
                        }
                    }
                }
            },
            {
                "name": "Set-AccessToken",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get-AccessToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "AccessToken",
                    "value": {
                        "value": "Bearer @{activity('Get-AccessToken').output.access_token}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Copy-Deletes-JSON-to-ADLS",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Set-AccessToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "RestSource",
                        "httpRequestTimeout": "00:01:40",
                        "requestInterval": "00.00:00:00.010",
                        "requestMethod": "GET",
                        "additionalHeaders": {
                            "Authorization": {
                                "value": "@variables('AccessToken')",
                                "type": "Expression"
                            }
                        }
                    },
                    "sink": {
                        "type": "JsonSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "JsonWriteSettings",
                            "filePattern": "setOfObjects"
                        }
                    },
                    "enableStaging": false
                },
                "inputs": [
                    {
                        "referenceName": "DS_REST_Anonymous",
                        "type": "DatasetReference",
                        "parameters": {
                            "BaseURL": {
                                "value": "@{pipeline().parameters.DeletesEntityUrl}?MinChangeVersion=@{pipeline().parameters.MinChangeVersion}&MaxChangeVersion=@{pipeline().parameters.MaxChangeVersion}",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_JSON",
                        "type": "DatasetReference",
                        "parameters": {
                            "stage": "1",
                            "path": {
                                "value": "@pipeline().parameters.DeletesSinkPath",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Copy-JSON-to-ADLS-Upserts",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set-TotalCount",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Copy_from_REST_Keyset_Parallel",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "TotalCount": {
                            "value": "@variables('TotalCount')",
                            "type": "Expression"
                        },
                        "AuthURL": {
                            "value": "@pipeline().parameters.AuthURL",
                            "type": "Expression"
                        },
                        "ClientId": {
                            "value": "@pipeline().parameters.ClientId",
                            "type": "Expression"
                        },
                        "SecretName": {
                            "value": "@pipeline().parameters.SecretName",
                            "type": "Expression"
                        },
                        "ChangedEntityURL": {
                            "value": "@pipeline().parameters.ChangedEntityURL",
                            "type": "Expression"
                        },
                        "ApiLimit": {
                            "value": "@pipeline().parameters.ApiLimit",
                            "type": "Expression"
                        },
                        "UpsertsSinkPath": {
                            "value": "@pipeline().parameters.UpsertsSinkPath",
                            "type": "Expression"
                        },
                        "MinChangeVersion": {
                            "value": "@pipeline().parameters.MinChangeVersion",
                            "type": "Expression"
                        },
                        "MaxChangeVersion": {
                            "value": "@pipeline().parameters.MaxChangeVersion",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "AuthURL": {
                "type": "String",
                "defaultValue": "https://api.edgraph.com/edfi/v5.2/saas/e2e22d72-3b57-4863-8b0f-f5ff0dc0bc4b/oauth/token"
            },
            "ClientId": {
                "type": "String",
                "defaultValue": "R2xsAWWkKf3oX2WS"
            },
            "SecretName": {
                "type": "String",
                "defaultValue": "ws-synapse-edfi-2022-apiclientsecret"
            },
            "ChangedEntityURL": {
                "type": "String",
                "defaultValue": "https://api.edgraph.com/edfi/v5.2/saas/data/v3/e2e22d72-3b57-4863-8b0f-f5ff0dc0bc4b/2022/ed-fi/students?MinChangeVersion=0&MaxChangeVersion=2857796"
            },
            "ApiLimit": {
                "type": "string",
                "defaultValue": "500"
            },
            "UpsertsSinkPath": {
                "type": "String",
                "defaultValue": "Transactional/Ed-Fi/v5.2/DistrictId=All/SchoolYear=2022/ed-fi/students/Incremental/Upserts/rundate=2022-11-03"
            },
            "DeletesEntityUrl": {
                "type": "string",
                "defaultValue": "https://api.edgraph.com/edfi/v5.2/saas/data/v3/e2e22d72-3b57-4863-8b0f-f5ff0dc0bc4b/2022/ed-fi/students/deletes?MinChangeVersion=0&MaxChangeVersion=2857796"
            },
            "DeletesSinkPath": {
                "type": "string",
                "defaultValue": "Transactional/Ed-Fi/v5.2/DistrictId=All/SchoolYear=2022/ed-fi/students/Incremental/Deletes/rundate=2022-11-03"
            },
            "MinChangeVersion": {
                "type": "string"
            },
            "MaxChangeVersion": {
                "type": "string"
            }
        },
        "variables": {
            "AccessToken": {
                "type": "String"
            },
            "TotalCount": {
                "type": "String",
                "defaultValue": "0"
            },
            "Offset": {
                "type": "String",
                "defaultValue": "0"
            },
            "OffsetUpperLimit": {
                "type": "String",
                "defaultValue": "0"
            },
            "OffsetInterval": {
                "type": "String",
                "defaultValue": "10000"
            },
            "RangeArray": {
                "type": "Array"
            },
            "BatchSize": {
                "type": "String"
            },
            "NumberOfPartitions": {
                "type": "String"
            },
            "PartitionsArray": {
                "type": "Array"
            },
            "IsFinished": {
                "type": "Boolean"
            }
        },
        "folder": {
            "name": "Modules/Ed-Fi/Artifacts"
        },
        "annotations": [],
        "lastPublishTime": "2022-11-07T14:50:44Z"
    }
}