modules/module_catalog/Ed-Fi/pipeline/Master_Pipeline.json
{
    "name": "Master_Pipeline",
    "properties": {
        "activities": [
            {
                "name": "Get-ApiDetails",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@pipeline().parameters.ApiUrl",
                        "type": "Expression"
                    },
                    "method": "GET",
                    "body": {
                        "grant_type": "client_credentials"
                    }
                }
            },
            {
                "name": "Set-AuthUrl",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get-ApiDetails",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "AuthUrl",
                    "value": {
                        "value": "@replace(activity('Get-ApiDetails').output.urls.oauth, '{instance}', pipeline().parameters.InstanceId)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-DataManagementUrl",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get-ApiDetails",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "DataManagementUrl",
                    "value": {
                        "value": "@replace(replace(activity('Get-ApiDetails').output.urls.dataManagementApi, '{instance}', pipeline().parameters.InstanceId), '2022', pipeline().parameters.SchoolYear)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-ChangeQueriesUrl",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get-ApiDetails",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "ChangeQueriesUrl",
                    "value": {
                        "value": "@{pipeline().parameters.ApiUrl}/changequeries/v1/@{pipeline().parameters.InstanceId}/@{pipeline().parameters.SchoolYear}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-ApiVersion",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get-ApiDetails",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "ApiVersion",
                    "value": {
                        "value": "@activity('Get-ApiDetails').output.version",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-DependenciesUrl",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get-ApiDetails",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "DependenciesUrl",
                    "value": {
                        "value": "@replace(replace(activity('Get-ApiDetails').output.urls.dependencies, '{instance}', pipeline().parameters.InstanceId), '2022', pipeline().parameters.SchoolYear)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-TransactionalFolder",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Set-ApiVersion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "TransactionalFolder",
                    "value": {
                        "value": "Transactional/@{pipeline().parameters.ModuleName}/v@{variables('ApiVersion')}/DistrictId=@{pipeline().parameters.DistrictId}/SchoolYear=@{pipeline().parameters.SchoolYear}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Set-RunDate",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Get-ApiDetails",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "RunDate",
                    "value": {
                        "value": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Copy_JSON_from_EdFi_Api",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set-AuthUrl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-DataManagementUrl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-ChangeQueriesUrl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-TransactionalFolder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-DependenciesUrl",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-RunDate",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Set-IngestedFolder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Copy_EdFi_Entities_to_Stage1",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "ApiUrl": {
                            "value": "@pipeline().parameters.ApiUrl",
                            "type": "Expression"
                        },
                        "ClientId": {
                            "value": "@pipeline().parameters.ClientId",
                            "type": "Expression"
                        },
                        "ClientSecretName": {
                            "value": "@pipeline().parameters.ClientSecretName",
                            "type": "Expression"
                        },
                        "InstanceId": {
                            "value": "@pipeline().parameters.InstanceId",
                            "type": "Expression"
                        },
                        "DistrictId": {
                            "value": "@pipeline().parameters.DistrictId",
                            "type": "Expression"
                        },
                        "SchoolYear": {
                            "value": "@pipeline().parameters.SchoolYear",
                            "type": "Expression"
                        },
                        "ModuleName": {
                            "value": "@pipeline().parameters.ModuleName",
                            "type": "Expression"
                        },
                        "ApiLimit": {
                            "value": "@pipeline().parameters.ApiLimit",
                            "type": "Expression"
                        },
                        "AuthUrl": {
                            "value": "@variables('AuthUrl')",
                            "type": "Expression"
                        },
                        "ChangeQueriesUrl": {
                            "value": "@variables('ChangeQueriesUrl')",
                            "type": "Expression"
                        },
                        "DataManagementUrl": {
                            "value": "@variables('DataManagementUrl')",
                            "type": "Expression"
                        },
                        "RunDate": {
                            "value": "@variables('RunDate')",
                            "type": "Expression"
                        },
                        "DependenciesUrl": {
                            "value": "@variables('DependenciesUrl')",
                            "type": "Expression"
                        },
                        "TransactionalFolder": {
                            "value": "@variables('TransactionalFolder')",
                            "type": "Expression"
                        },
                        "ApiVersion": {
                            "value": "@variables('ApiVersion')",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Ingest data from EdFi instance",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Copy_JSON_from_EdFi_Api",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Copy_Stage1_To_Stage2",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "ApiUrl": {
                            "value": "@pipeline().parameters.ApiUrl",
                            "type": "Expression"
                        },
                        "ModuleName": {
                            "value": "@pipeline().parameters.ModuleName",
                            "type": "Expression"
                        },
                        "DistrictId": {
                            "value": "@pipeline().parameters.DistrictId",
                            "type": "Expression"
                        },
                        "SchoolYear": {
                            "value": "@pipeline().parameters.SchoolYear",
                            "type": "Expression"
                        },
                        "ApiVersion": {
                            "value": "@variables('ApiVersion')",
                            "type": "Expression"
                        },
                        "TransactionalFolder": {
                            "value": "@variables('TransactionalFolder')",
                            "type": "Expression"
                        },
                        "IngestedFolder": {
                            "value": "@variables('IngestedFolder')",
                            "type": "Expression"
                        },
                        "DependenciesUrl": {
                            "value": "@variables('DependenciesUrl')",
                            "type": "Expression"
                        },
                        "CheckpointKeySuffix": {
                            "value": "@pipeline().parameters.CheckpointKeySuffix",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Set-IngestedFolder",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Set-ApiVersion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "IngestedFolder",
                    "value": {
                        "value": "Ingested/@{pipeline().parameters.ModuleName}/v@{variables('ApiVersion')}",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "If-ExecuteRefineEdFiNotebook-True",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Ingest data from EdFi instance",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@pipeline().parameters.ExecuteRefineEdFiNotebook",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Refine Data in Stage2",
                            "type": "SynapseNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebook": {
                                    "referenceName": "Refine_EdFi",
                                    "type": "NotebookReference"
                                },
                                "parameters": {
                                    "api_version": {
                                        "value": {
                                            "value": "@variables('ApiVersion')",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "directory": {
                                        "value": {
                                            "value": "@pipeline().parameters.ModuleName",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "swagger_url": {
                                        "value": {
                                            "value": "@pipeline().parameters.SwaggerUrl",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "metadata_url": {
                                        "value": {
                                            "value": "@pipeline().parameters.MetadataUrl",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                },
                                "snapshot": true,
                                "executorSize": null,
                                "conf": {
                                    "spark.dynamicAllocation.enabled": null,
                                    "spark.dynamicAllocation.minExecutors": null,
                                    "spark.dynamicAllocation.maxExecutors": null
                                },
                                "driverSize": null,
                                "numExecutors": null
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "ModuleName": {
                "type": "string",
                "defaultValue": "Ed-Fi"
            },
            "ApiUrl": {
                "type": "string",
                "defaultValue": "https://api.edgraph.com/edfi/v5.2/saas"
            },
            "ClientId": {
                "type": "string",
                "defaultValue": "mz3VrduoHumLCHc5"
            },
            "ClientSecretName": {
                "type": "string",
                "defaultValue": "ws-synapse-edfi-2021-apiclientsecret"
            },
            "InstanceId": {
                "type": "string",
                "defaultValue": "a29cac90-c1aa-45ca-9ef1-e7874c19f2b0"
            },
            "DistrictId": {
                "type": "string",
                "defaultValue": "All"
            },
            "SchoolYear": {
                "type": "string",
                "defaultValue": "2021"
            },
            "ApiLimit": {
                "type": "string",
                "defaultValue": "500"
            },
            "CheckpointKeySuffix": {
                "type": "string",
                "defaultValue": "006"
            },
            "ExecuteRefineEdFiNotebook": {
                "type": "bool",
                "defaultValue": false
            },
            "MetadataUrl": {
                "type": "string",
                "defaultValue": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/gene/v0.7dev/modules/module_catalog/Ed-Fi/docs/edfi_oea_metadata.csv"
            },
            "SwaggerUrl": {
                "type": "string",
                "defaultValue": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/gene/v0.7dev//modules/module_catalog/Ed-Fi/docs/edfi_swagger.json"
            }
        },
        "variables": {
            "ApiVersion": {
                "type": "String"
            },
            "TransactionalFolder": {
                "type": "String"
            },
            "AuthUrl": {
                "type": "String"
            },
            "DataManagementUrl": {
                "type": "String"
            },
            "DependenciesUrl": {
                "type": "String"
            },
            "ChangeQueriesUrl": {
                "type": "String"
            },
            "RunDate": {
                "type": "String"
            },
            "IngestedFolder": {
                "type": "String"
            }
        },
        "folder": {
            "name": "/Modules/Ed-Fi/Single District Per Instance"
        },
        "annotations": [],
        "lastPublishTime": "2022-11-04T05:38:48Z"
    }
}