modules/Digital_Learning_Apps_and_Platforms/Clever/pipeline/Copy_from_SFTP.json
{
    "name": "Copy_from_SFTP",
    "properties": {
        "activities": [
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get_Metadata_SFTP",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get_Metadata_SFTP').output.childitems",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
                        {
                            "name": "Get Metadata1",
                            "type": "GetMetadata",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "DS_ADLS_csv",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "sinkFileSystem": {
                                            "value": "@pipeline().parameters.sinkFilesystem",
                                            "type": "Expression"
                                        },
                                        "sinkDirectory": {
                                            "value": "@concat(pipeline().parameters.sinkDirectory,'/',replace(pipeline().parameters.SftpFolderName,'-','_'),'/',formatDateTime(substring(item().name,0,10),'yyyy-MM-ddTHHmm_ss'),'/')",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "fieldList": [
                                    "exists"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            }
                        },
                        {
                            "name": "If Condition1",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get Metadata1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@activity('Get Metadata1').output.exists",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Copy data",
                                        "type": "Copy",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "7.00:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "source": {
                                                "type": "DelimitedTextSource",
                                                "storeSettings": {
                                                    "type": "SftpReadSettings",
                                                    "maxConcurrentConnections": 1,
                                                    "recursive": true,
                                                    "wildcardFileName": {
                                                        "value": "@item().name",
                                                        "type": "Expression"
                                                    },
                                                    "enablePartitionDiscovery": false,
                                                    "disableChunking": false
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextReadSettings"
                                                }
                                            },
                                            "sink": {
                                                "type": "DelimitedTextSink",
                                                "storeSettings": {
                                                    "type": "AzureBlobFSWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "DelimitedTextWriteSettings",
                                                    "quoteAllText": true,
                                                    "fileExtension": ".csv"
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        },
                                        "inputs": [
                                            {
                                                "referenceName": "LS_OnPrem_SFTP_CSV",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "sftpServer": {
                                                        "value": "@pipeline().parameters.sftpServer",
                                                        "type": "Expression"
                                                    },
                                                    "sftpFolderName": {
                                                        "value": "@pipeline().parameters.sftpFolderName",
                                                        "type": "Expression"
                                                    },
                                                    "userName": {
                                                        "value": "@pipeline().parameters.userName",
                                                        "type": "Expression"
                                                    },
                                                    "keyVaultSecretName": {
                                                        "value": "@pipeline().parameters.keyVaultSecretName",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ],
                                        "outputs": [
                                            {
                                                "referenceName": "DS_ADLS_csv",
                                                "type": "DatasetReference",
                                                "parameters": {
                                                    "sinkFileSystem": {
                                                        "value": "@pipeline().parameters.sinkFilesystem",
                                                        "type": "Expression"
                                                    },
                                                    "sinkDirectory": {
                                                        "value": "@concat(pipeline().parameters.sinkDirectory,'/',replace(pipeline().parameters.SftpFolderName,'-','_'),'/',formatDateTime(substring(item().name,0,10),'yyyy-MM-ddTHHmm_ss'),'/')",
                                                        "type": "Expression"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "Get_Metadata_SFTP",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 2,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "LS_OnPrem_SFTP_CSV",
                        "type": "DatasetReference",
                        "parameters": {
                            "sftpServer": {
                                "value": "@pipeline().parameters.sftpServer",
                                "type": "Expression"
                            },
                            "sftpFolderName": {
                                "value": "@pipeline().parameters.sftpFolderName",
                                "type": "Expression"
                            },
                            "userName": {
                                "value": "@pipeline().parameters.userName",
                                "type": "Expression"
                            },
                            "keyVaultSecretName": {
                                "value": "@pipeline().parameters.keyVaultSecretName",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "SftpReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false,
                        "disableChunking": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            }
        ],
        "parameters": {
            "sftpServer": {
                "type": "string",
                "defaultValue": "reports-sftp.clever.com"
            },
            "SftpFolderName": {
                "type": "string",
                "defaultValue": "daily-participation"
            },
            "userName": {
                "type": "string",
                "defaultValue": "CleverUsername"
            },
            "keyVaultSecretName": {
                "type": "string",
                "defaultValue": "CleverSFTPPassword"
            },
            "sinkFilesystem": {
                "type": "string",
                "defaultValue": "stage1np"
            },
            "sinkDirectory": {
                "type": "string",
                "defaultValue": "Clever"
            },
            "timezone": {
                "type": "string",
                "defaultValue": "Pacific Standard Time"
            }
        },
        "variables": {
            "currentDateTime": {
                "type": "String"
            }
        },
        "folder": {
            "name": "OEA_Framework/Extracts"
        },
        "annotations": [],
        "lastPublishTime": "2022-01-21T00:14:40Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}