oea/framework/pipeline/Trigger Pipeline and wait on Completion.json
{
    "name": "Trigger Pipeline and wait on Completion",
    "properties": {
        "activities": [
            {
                "name": "Create Pipeline Run",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "https://@{pipeline().parameters.WorkspaceName}.dev.azuresynapse.net/pipelines/@{pipeline().parameters.PipelineName}/createRun?api-version=2020-12-01",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "POST",
                    "body": {
                        "value": "@pipeline().parameters.PipelineParameters",
                        "type": "Expression"
                    },
                    "authentication": {
                        "resource": "https://dev.azuresynapse.net",
                        "credential": {
                            "referenceName": "Credential1",
                            "type": "CredentialReference"
                        }
                    }
                }
            },
            {
                "name": "Until Pipeline Finish",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "Set IsFinished to False",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('isFinished'), true)",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Get Pipeline Run",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "https://@{pipeline().parameters.WorkspaceName}.dev.azuresynapse.net/pipelineruns/@{activity('Create Pipeline Run').output.runId}?api-version=2020-12-01",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "AutoResolveIntegrationRuntime",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "GET",
                                "authentication": {
                                    "resource": "https://dev.azuresynapse.net",
                                    "credential": {
                                        "referenceName": "Credential1",
                                        "type": "CredentialReference"
                                    }
                                }
                            }
                        },
                        {
                            "name": "Check Status",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get Pipeline Run",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@or(equals(activity('Get Pipeline Run').output.status, 'Succeeded'), equals(activity('Get Pipeline Run').output.status, 'Failed'))",
                                    "type": "Expression"
                                },
                                "ifTrueActivities": [
                                    {
                                        "name": "Set Finished",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "isFinished",
                                            "value": {
                                                "value": "@bool(1)",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ],
                    "timeout": "7.00:00:00"
                }
            },
            {
                "name": "Set IsFinished to False",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Create Pipeline Run",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "isFinished",
                    "value": {
                        "value": "@bool(0)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "PipelineName": {
                "type": "string"
            },
            "PipelineParameters": {
                "type": "string"
            },
            "WorkspaceName": {
                "type": "string"
            }
        },
        "variables": {
            "isFinished": {
                "type": "Boolean"
            },
            "AccessToken": {
                "type": "String"
            }
        },
        "folder": {
            "name": "EdFi/Single District Per Instance/Common"
        },
        "annotations": []
    }
}