framework/pipeline/Copy_from_each_URL.json
{
    "name": "Copy_from_each_URL",
    "properties": {
        "description": "Retrieves data from multiple HTTP endpoints as specified in the 'endpoints' parameter.\nThe data is landed in the data lake within a folder named with the current datetime (in the timezone specified).\n\nFor a list of timezones, see: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#convertfromutc",
        "activities": [
            {
                "name": "get data for each endpoint",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set currentDateTime",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.endpoints",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 3,
                    "activities": [
                        {
                            "name": "Copy_from_URL",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "Copy_from_URL",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "URL": {
                                        "value": "@item().URL",
                                        "type": "Expression"
                                    },
                                    "sinkFilesystem": {
                                        "value": "@pipeline().parameters.sinkFilesystem",
                                        "type": "Expression"
                                    },
                                    "sinkFilename": {
                                        "value": "@{item().sinkDirectory}/@{variables('currentDateTime')}/@{item().sinkFilename}",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Set currentDateTime",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "currentDateTime",
                    "value": {
                        "value": "@{formatDateTime(convertTimeZone(utcnow(), 'UTC', pipeline().parameters.timezone), 'yyyy-MM-ddTHHmm_ss')}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "endpoints": {
                "type": "array",
                "defaultValue": [
                    {
                        "URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentattendance.csv",
                        "sinkDirectory": "contoso_sis",
                        "sinkFilename": "studentattendance/studentattendance.csv"
                    },
                    {
                        "URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentdemographics.csv",
                        "sinkDirectory": "contoso_sis",
                        "sinkFilename": "studentdemographics/studentdemographics.csv"
                    },
                    {
                        "URL": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentsectionmark.csv",
                        "sinkDirectory": "contoso_sis",
                        "sinkFilename": "studentsectionmark/studentsectionmark.csv"
                    }
                ]
            },
            "sinkFilesystem": {
                "type": "string",
                "defaultValue": "stage1np"
            },
            "timezone": {
                "type": "string",
                "defaultValue": "Eastern Standard Time"
            }
        },
        "variables": {
            "currentDateTime": {
                "type": "String"
            }
        },
        "folder": {
            "name": "OEA_Framework/Extracts"
        },
        "annotations": [],
        "lastPublishTime": "2021-10-28T13:57:35Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}