framework/pipeline/Copy_all_from_Azure_SQL_DB.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"syn-oea-cisd3gg1"},"LS_Azure_SQL_DB":{"type":"string"},"LS_ADLS_OEA":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/Copy_all_from_Azure_SQL_DB')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Get list of tables","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"select schema_name(t.schema_id) as schema_name, t.name as table_name\nfrom sys.tables t","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"DS_Azure_SQL_DB","type":"DatasetReference","parameters":{"dbServer":{"value":"@pipeline().parameters.dbServer","type":"Expression"},"dbName":{"value":"@pipeline().parameters.dbName","type":"Expression"},"userName":{"value":"@pipeline().parameters.userName","type":"Expression"},"keyVaultSecretName":{"value":"@pipeline().parameters.keyVaultSecretName","type":"Expression"}}},"firstRowOnly":false}},{"name":"Set currentDateTime","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"currentDateTime","value":{"value":"@{formatDateTime(convertTimeZone(utcnow(), 'UTC', pipeline().parameters.timezone), 'yyyy-MM-ddTHHmm_ss')}","type":"Expression"}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"Get list of tables","dependencyConditions":["Succeeded"]},{"activity":"Set currentDateTime","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get list of tables').output.value","type":"Expression"},"isSequential":false,"activities":[{"name":"Copy_from_Azure_SQL_DB","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Copy_from_Azure_SQL_DB","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"dbServer":{"value":"@pipeline().parameters.dbServer","type":"Expression"},"dbName":{"value":"@pipeline().parameters.dbName","type":"Expression"},"userName":{"value":"@pipeline().parameters.userName","type":"Expression"},"keyVaultSecretName":{"value":"@pipeline().parameters.keyVaultSecretName","type":"Expression"},"query":{"value":"select * from @{item().schema_name}.@{item().table_name}","type":"Expression"},"sinkFilesystem":{"value":"@pipeline().parameters.sinkFilesystem","type":"Expression"},"sinkDirectory":{"value":"@{pipeline().parameters.sinkDirectory}/@{variables('currentDateTime')}/@{item().table_name}","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"dbServer":{"type":"string","defaultValue":"contosoisd3a.database.windows.net"},"dbName":{"type":"string","defaultValue":"contoso_sis"},"userName":{"type":"string","defaultValue":"sqladmin"},"keyVaultSecretName":{"type":"string","defaultValue":"sqladmin-password"},"sinkFilesystem":{"type":"string","defaultValue":"stage1np"},"sinkDirectory":{"type":"string","defaultValue":"contoso_sis_db"},"timezone":{"type":"string","defaultValue":"Eastern Standard Time"}},"variables":{"currentDateTime":{"type":"String"}},"folder":{"name":"OEA_Framework/Extracts"},"annotations":[],"lastPublishTime":"2021-10-29T22:15:07Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/DS_Azure_SQL_DB')]","[concat(variables('workspaceId'), '/pipelines/Copy_from_Azure_SQL_DB')]"]},{"name":"[concat(parameters('workspaceName'), '/DS_Azure_SQL_DB')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_Azure_SQL_DB')]","type":"LinkedServiceReference","parameters":{"dbServer":{"value":"@dataset().dbServer","type":"Expression"},"dbName":{"value":"@dataset().dbName","type":"Expression"},"userName":{"value":"@dataset().userName","type":"Expression"},"keyVaultSecretName":{"value":"@dataset().keyVaultSecretName","type":"Expression"}}},"parameters":{"dbServer":{"type":"string","defaultValue":"myserver.database.windows.net"},"dbName":{"type":"string","defaultValue":"testdb"},"userName":{"type":"string","defaultValue":"sqlAdmin"},"keyVaultSecretName":{"type":"string","defaultValue":"sqlAdminPwd"}},"folder":{"name":"OEA_Framework"},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/Copy_from_Azure_SQL_DB')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"Copy from Azure SQL DB","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@pipeline().parameters.query","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_Azure_SQL_DB","type":"DatasetReference","parameters":{"dbServer":{"value":"@pipeline().parameters.dbServer","type":"Expression"},"dbName":{"value":"@pipeline().parameters.dbName","type":"Expression"},"userName":{"value":"@pipeline().parameters.userName","type":"Expression"},"keyVaultSecretName":{"value":"@pipeline().parameters.keyVaultSecretName","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ADLS_parquet","type":"DatasetReference","parameters":{"filesystem":{"value":"@pipeline().parameters.sinkFilesystem","type":"Expression"},"directory":{"value":"@pipeline().parameters.sinkDirectory","type":"Expression"}}}]}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"dbServer":{"type":"string","defaultValue":"contosoisd3a.database.windows.net"},"dbName":{"type":"string","defaultValue":"contoso_sis"},"userName":{"type":"string","defaultValue":"sqladmin"},"keyVaultSecretName":{"type":"string","defaultValue":"sqladmin-password"},"query":{"type":"string","defaultValue":"select * from person"},"sinkFilesystem":{"type":"string","defaultValue":"stage1np"},"sinkDirectory":{"type":"string","defaultValue":"contoso_sis_db/person"}},"folder":{"name":"OEA_Framework/Extracts"},"annotations":[],"lastPublishTime":"2021-10-29T22:15:03Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/DS_Azure_SQL_DB')]","[concat(variables('workspaceId'), '/datasets/DS_ADLS_parquet')]"]},{"name":"[concat(parameters('workspaceName'), '/DS_ADLS_parquet')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"description":"Used for landing data in the data lake as in parquet format.\nDefaults to landing data in stage1np.\nNote that you cannot specify a filename because with parquet the filename should be auto-generated.\n","linkedServiceName":{"referenceName":"[parameters('LS_ADLS_OEA')]","type":"LinkedServiceReference"},"parameters":{"filesystem":{"type":"string","defaultValue":"stage1np"},"directory":{"type":"string"}},"folder":{"name":"OEA_Framework"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().directory","type":"Expression"},"fileSystem":{"value":"@dataset().filesystem","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}