framework/pipeline/example_main_pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"workspaceName":{"type":"string","metadata":"Workspace name","defaultValue":"syn-oea-cisd3gg1"},"LS_SQL_Serverless_OEA":{"type":"string"},"LS_ADLS_OEA":{"type":"string"},"LS_HTTP":{"type":"string"}},"variables":{"workspaceId":"[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"},"resources":[{"name":"[concat(parameters('workspaceName'), '/example_main_pipeline')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Example pipeline demonstrating typical orchestration of data extraction, landing, ingestion, and creation of lake and sql db's.","activities":[{"name":"Extract from source - land in stage1np","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Copy_from_each_URL","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"endpoints":{"value":"@json('[{\"URL\": \"https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/batch1/studentattendance.csv\",\"sinkDirectory\": \"contoso_sis/studentattendance\",\"sinkFilename\": \"part1.csv\"}, {\"URL\": \"https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/batch1/studentdemographics.csv\",\"sinkDirectory\": \"contoso_sis/studentdemographics\",\"sinkFilename\": \"part1.csv\"}, {\"URL\": \"https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/batch1/studentsectionmark.csv\",\"sinkDirectory\": \"contoso_sis/studentsectionmark\",\"sinkFilename\": \"part1.csv\"}]')","type":"Expression"},"sinkFilesystem":"stage1np","timezone":"Eastern Standard Time"}}},{"name":"ingest into stage2p and 2np","type":"SynapseNotebook","dependsOn":[{"activity":"Extract from source - land in stage1np","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebook":{"referenceName":"OEA_connector","type":"NotebookReference"},"parameters":{"object_name":{"value":"contoso_sis","type":"string"},"method_name":{"value":"ingest","type":"string"}},"snapshot":true}},{"name":"If create_sql_db","type":"IfCondition","dependsOn":[{"activity":"ingest into stage2p and 2np","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@pipeline().parameters.create_sql_db","type":"Expression"},"ifTrueActivities":[{"name":"create_sql_db","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"create_sql_db","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"storageAccount":{"value":"@pipeline().parameters.storageAccount","type":"Expression"},"sourceDirectory":{"value":"@pipeline().parameters.sourceDirectory","type":"Expression"},"stage":"2"}}}]}},{"name":"If create_lake_db","type":"IfCondition","dependsOn":[{"activity":"ingest into stage2p and 2np","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@pipeline().parameters.create_lake_db","type":"Expression"},"ifTrueActivities":[{"name":"create_lake_db","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"create_lake_db","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"stageNum":"2","sourceDirectory":{"value":"@pipeline().parameters.sourceDirectory","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"storageAccount":{"type":"string","defaultValue":"stoeacisd3gg1"},"sourceDirectory":{"type":"string","defaultValue":"contoso_sis"},"create_sql_db":{"type":"bool","defaultValue":false},"create_lake_db":{"type":"bool","defaultValue":false}},"folder":{"name":"OEA_Framework"},"annotations":[]},"dependsOn":["[concat(variables('workspaceId'), '/pipelines/Copy_from_each_URL')]","[concat(variables('workspaceId'), '/notebooks/OEA_connector')]","[concat(variables('workspaceId'), '/pipelines/create_sql_db')]","[concat(variables('workspaceId'), '/pipelines/create_lake_db')]"]},{"name":"[concat(parameters('workspaceName'), '/Copy_from_each_URL')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Retrieves data from multiple HTTP endpoints as specified in the 'endpoints' parameter.\nThe data is landed in the data lake within a folder named with the current datetime (in the timezone specified).\n\nFor a list of timezones, see: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#convertfromutc","activities":[{"name":"get data for each endpoint","type":"ForEach","dependsOn":[{"activity":"Set currentDateTime","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@pipeline().parameters.endpoints","type":"Expression"},"isSequential":false,"batchCount":3,"activities":[{"name":"Copy_from_URL","type":"ExecutePipeline","dependsOn":[],"userProperties":[],"typeProperties":{"pipeline":{"referenceName":"Copy_from_URL","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{"URL":{"value":"@item().URL","type":"Expression"},"sinkFilesystem":{"value":"@pipeline().parameters.sinkFilesystem","type":"Expression"},"sinkFilename":{"value":"@{item().sinkDirectory}/@{variables('currentDateTime')}/@{item().sinkFilename}","type":"Expression"}}}}]}},{"name":"Set currentDateTime","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"currentDateTime","value":{"value":"@{formatDateTime(convertTimeZone(utcnow(), 'UTC', pipeline().parameters.timezone), 'yyyy-MM-ddTHHmm_ss')}","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"endpoints":{"type":"array","defaultValue":[{"URL":"https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentattendance.csv","sinkDirectory":"contoso_sis","sinkFilename":"studentattendance/studentattendance.csv"},{"URL":"https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentdemographics.csv","sinkDirectory":"contoso_sis","sinkFilename":"studentdemographics/studentdemographics.csv"},{"URL":"https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentsectionmark.csv","sinkDirectory":"contoso_sis","sinkFilename":"studentsectionmark/studentsectionmark.csv"}]},"sinkFilesystem":{"type":"string","defaultValue":"stage1np"},"timezone":{"type":"string","defaultValue":"Eastern Standard Time"}},"variables":{"currentDateTime":{"type":"String"}},"folder":{"name":"OEA_Framework/Extracts"},"annotations":[],"lastPublishTime":"2021-10-28T13:57:35Z"},"dependsOn":["[concat(variables('workspaceId'), '/pipelines/Copy_from_URL')]"]},{"name":"[concat(parameters('workspaceName'), '/OEA_connector')]","type":"Microsoft.Synapse/workspaces/notebooks","apiVersion":"2019-06-01-preview","properties":{"nbformat":4,"nbformat_minor":2,"bigDataPool":{"referenceName":"spark4v3p1","type":"BigDataPoolReference"},"sessionProperties":{"driverMemory":"28g","driverCores":4,"executorMemory":"28g","executorCores":4,"numExecutors":4,"conf":{"spark.dynamicAllocation.enabled":"false","spark.dynamicAllocation.minExecutors":"4","spark.dynamicAllocation.maxExecutors":"4","spark.autotune.trackingId":"5ade5ffe-bea4-43fb-b58c-360511467e90"}},"metadata":{"saveOutput":true,"enableDebugMode":false,"kernelspec":{"name":"synapse_pyspark","display_name":"Synapse PySpark"},"language_info":{"name":"python"},"a365ComputeOptions":{"id":"/subscriptions/7b9a4896-4541-483f-bdc7-d8f4ec6be3ee/resourceGroups/rg-oea-CISD3GG1/providers/Microsoft.Synapse/workspaces/syn-oea-cisd3gg1/bigDataPools/spark4v3p1","name":"spark4v3p1","type":"Spark","endpoint":"https://syn-oea-cisd3gg1.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/spark4v3p1","auth":{"type":"AAD","authResource":"https://dev.azuresynapse.net"},"sparkVersion":"3.1","nodeCount":10,"cores":4,"memory":28}},"cells":[{"cell_type":"markdown","metadata":{"nteract":{"transient":{"deleting":false}}},"source":["# OEA connector\n","This notebook provides a way for invoking methods on the OEA framework or supporting modules from a pipeline.\n","\n","When setting up a new module, be sure to include a new cell below that imports that module, so that its methods can be invoked by pipelines."]},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}},"tags":["parameters"]},"source":["# These values should be passed in from the pipeline that is using this notebook as an activity.\r\n","# Note that kwargs allows you to pass in a dict of params, but the dict has to specified as a string when invoked from a pipeline.\r\n","# Also note that you can refer to attributes of an object in the params, for example: {'path':oea.stage2np}\r\n","object_name = 'oea'\r\n","method_name = ''\r\n","kwargs = '{}'"],"outputs":[],"execution_count":null},{"cell_type":"code","metadata":{"jupyter":{"outputs_hidden":false,"source_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":true},"source":["%run /OEA_py"],"outputs":[],"execution_count":null},{"cell_type":"code","metadata":{"jupyter":{"outputs_hidden":false,"source_hidden":false},"nteract":{"transient":{"deleting":false}},"collapsed":true},"source":["%run /ContosoSIS_py"],"outputs":[],"execution_count":null},{"cell_type":"code","metadata":{"jupyter":{"source_hidden":false,"outputs_hidden":false},"nteract":{"transient":{"deleting":false}}},"source":["obj = eval(object_name)\r\n","kwargs = eval(kwargs)\r\n","m = getattr(obj, method_name)\r\n","m(**kwargs)"],"outputs":[],"execution_count":null}]},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/create_sql_db')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"set sqlDBName","type":"SetVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"sqlDBName","value":{"value":"sqls@{pipeline().parameters.stage}_@{pipeline().parameters.sourceDirectory}","type":"Expression"}}},{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"set sqlDBName","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[dbo].[sp_executesql]","storedProcedureParameters":{"command":{"value":{"value":"IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = '@{variables('sqlDBName')}') \nBEGIN\n  CREATE DATABASE @{variables('sqlDBName')}; \nEND;","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SQL_Serverless_OEA')]","type":"LinkedServiceReference","parameters":{"databaseName":"master"}}},{"name":"get folders in stageXp","type":"GetMetadata","dependsOn":[{"activity":"Stored procedure1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"DS_ADLS_binary_folder","type":"DatasetReference","parameters":{"filesystem":{"value":"stage@{pipeline().parameters.stage}p","type":"Expression"},"directory":{"value":"@pipeline().parameters.sourceDirectory","type":"Expression"}}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"ForEach1","type":"ForEach","dependsOn":[{"activity":"get folders in stageXp","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('get folders in stageXp').output.childItems","type":"Expression"},"activities":[{"name":"create or alter view for pseduonymized tables","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[dbo].[sp_executesql]","storedProcedureParameters":{"command":{"value":{"value":"CREATE OR ALTER VIEW @{item().name} AS\nSELECT * FROM OPENROWSET(\nBULK 'https://@{pipeline().parameters.storageAccount}.dfs.core.windows.net/stage@{pipeline().parameters.stage}p/@{pipeline().parameters.sourceDirectory}/@{item().name}',\nFORMAT='DELTA'\n) AS [r]","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SQL_Serverless_OEA')]","type":"LinkedServiceReference","parameters":{"databaseName":{"value":"@variables('sqlDBName')","type":"Expression"}}}}]}},{"name":"get folders in stageXnp","type":"GetMetadata","dependsOn":[{"activity":"Stored procedure1","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"DS_ADLS_binary_folder","type":"DatasetReference","parameters":{"filesystem":{"value":"stage@{pipeline().parameters.stage}np","type":"Expression"},"directory":{"value":"@pipeline().parameters.sourceDirectory","type":"Expression"}}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"BinaryReadSettings"}}},{"name":"ForEach2","type":"ForEach","dependsOn":[{"activity":"get folders in stageXnp","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('get folders in stageXnp').output.childItems","type":"Expression"},"activities":[{"name":"create or alter view for lookup tables","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[dbo].[sp_executesql]","storedProcedureParameters":{"command":{"value":{"value":"CREATE OR ALTER VIEW @{item().name} AS\nSELECT * FROM OPENROWSET(\nBULK 'https://@{pipeline().parameters.storageAccount}.dfs.core.windows.net/stage@{pipeline().parameters.stage}np/@{pipeline().parameters.sourceDirectory}/@{item().name}',\nFORMAT='DELTA'\n) AS [r]","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('LS_SQL_Serverless_OEA')]","type":"LinkedServiceReference","parameters":{"databaseName":{"value":"@variables('sqlDBName')","type":"Expression"}}}}]}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"storageAccount":{"type":"string","defaultValue":"stoeacisd3gg1"},"sourceDirectory":{"type":"string","defaultValue":"contoso_sis"},"stage":{"type":"string","defaultValue":"2"}},"variables":{"sqlDBName":{"type":"String","defaultValue":"sqls2_mydb"}},"folder":{"name":"OEA_Framework/Ingest"},"annotations":[]},"dependsOn":["[concat(variables('workspaceId'), '/datasets/DS_ADLS_binary_folder')]"]},{"name":"[concat(parameters('workspaceName'), '/create_lake_db')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"activities":[{"name":"create_lake_db","type":"SynapseNotebook","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[{"name":"kwargs","value":"{'stage_num':@{pipeline().parameters.stageNum},'source_dir':@{pipeline().parameters.sourceDirectory}"}],"typeProperties":{"notebook":{"referenceName":"OEA_connector","type":"NotebookReference"},"parameters":{"object_name":{"value":"oea","type":"string"},"method_name":{"value":"create_lake_db","type":"string"},"kwargs":{"value":{"value":"{'stage_num':@{pipeline().parameters.stageNum},'source_dir':'@{pipeline().parameters.sourceDirectory}'}","type":"Expression"},"type":"string"}},"snapshot":true}}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"stageNum":{"type":"string","defaultValue":"2"},"sourceDirectory":{"type":"string","defaultValue":"contoso_sis"}},"folder":{"name":"OEA_Framework/Ingest"},"annotations":[]},"dependsOn":["[concat(variables('workspaceId'), '/notebooks/OEA_connector')]"]},{"name":"[concat(parameters('workspaceName'), '/Copy_from_URL')]","type":"Microsoft.Synapse/workspaces/pipelines","apiVersion":"2019-06-01-preview","properties":{"description":"Copies data from the specified URL and lands it in the specified location in the data lake.","activities":[{"name":"copy from URL","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"BinarySource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"BinaryReadSettings"}},"sink":{"type":"BinarySink","storeSettings":{"type":"AzureBlobFSWriteSettings"}},"enableStaging":false},"inputs":[{"referenceName":"DS_HTTP_binary","type":"DatasetReference","parameters":{"URL":{"value":"@pipeline().parameters.URL","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ADLS_binary_file","type":"DatasetReference","parameters":{"filesystem":{"value":"@pipeline().parameters.sinkFilesystem","type":"Expression"},"filename":{"value":"@pipeline().parameters.sinkFilename","type":"Expression"}}}]}],"policy":{"elapsedTimeMetric":{},"cancelAfter":{}},"parameters":{"URL":{"type":"string","defaultValue":"https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentattendance.csv"},"sinkFilesystem":{"type":"string","defaultValue":"stage1np"},"sinkFilename":{"type":"string","defaultValue":"contoso_sis/example1/studentattendance.csv"}},"folder":{"name":"OEA_Framework/Extracts"},"annotations":[],"lastPublishTime":"2021-10-28T13:57:30Z"},"dependsOn":["[concat(variables('workspaceId'), '/datasets/DS_HTTP_binary')]","[concat(variables('workspaceId'), '/datasets/DS_ADLS_binary_file')]"]},{"name":"[concat(parameters('workspaceName'), '/DS_ADLS_binary_folder')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLS_OEA')]","type":"LinkedServiceReference"},"parameters":{"filesystem":{"type":"string"},"directory":{"type":"string"}},"folder":{"name":"OEA_Framework"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().directory","type":"Expression"},"fileSystem":{"value":"@dataset().filesystem","type":"Expression"}}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/DS_HTTP_binary')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"description":"Retrieves data from an http endpoint.\nThe data can be in any format - the binary dataset allows us to pull any payload without affecting it.","linkedServiceName":{"referenceName":"[parameters('LS_HTTP')]","type":"LinkedServiceReference","parameters":{"baseURL":{"value":"@dataset().URL","type":"Expression"}}},"parameters":{"URL":{"type":"string"}},"folder":{"name":"OEA_Framework"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"HttpServerLocation"}}},"dependsOn":[]},{"name":"[concat(parameters('workspaceName'), '/DS_ADLS_binary_file')]","type":"Microsoft.Synapse/workspaces/datasets","apiVersion":"2019-06-01-preview","properties":{"description":"Used for landing data in the data lake.\nDefaults to landing data in stage1np.\nNote that you can specify a full path in the filename param (eg, to land a file in a specific folder filename param can be 'contoso_sis/students/students.csv').\n","linkedServiceName":{"referenceName":"[parameters('LS_ADLS_OEA')]","type":"LinkedServiceReference"},"parameters":{"filesystem":{"type":"string","defaultValue":"stage1np"},"filename":{"type":"string"}},"folder":{"name":"OEA_Framework"},"annotations":[],"type":"Binary","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().filename","type":"Expression"},"fileSystem":{"value":"@dataset().filesystem","type":"Expression"}}}},"dependsOn":[]}]}