framework/pipeline/OEA_ex2_data_ingestion.json
{
    "name": "OEA_ex2_data_ingestion",
    "properties": {
        "description": "This is an example of a pipeline that retrieves data from multiple HTTP endpoints as specified in the 'endpoints' parameter.\nThe data is landed in the data lake within a folder named with the current datetime (in the timezone specified in the timezone parameter).\n\nFor a list of timezones, see: https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-language-functions#convertfromutc",
        "activities": [
            {
                "name": "get data for each endpoint",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Set currentDateTime",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.endpoints",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "ingest data from url",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "BinarySource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET"
                                    },
                                    "formatSettings": {
                                        "type": "BinaryReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "BinarySink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "logSettings": {
                                    "enableCopyActivityLog": true,
                                    "copyActivityLogSettings": {
                                        "logLevel": "Info",
                                        "enableReliableLogging": false
                                    },
                                    "logLocationSettings": {
                                        "linkedServiceName": {
                                            "referenceName": "LS_ADLS_OEA",
                                            "type": "LinkedServiceReference"
                                        },
                                        "path": "oea-framework/pipeline_logs"
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "DS_HTTP_binary",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "URL": {
                                            "value": "@item().source",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "DS_ADLS_binary",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "filesystem": {
                                            "value": "@pipeline().parameters.sinkFilesystem",
                                            "type": "Expression"
                                        },
                                        "filename": {
                                            "value": "@{item().destinationDirectory}/@{variables('currentDateTime')}/@{item().destinationFilename}",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Set currentDateTime",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "currentDateTime",
                    "value": {
                        "value": "@{formatDateTime(convertTimeZone(utcnow(), 'UTC', pipeline().parameters.timezone), 'yyyy-MM-ddTHHmm_ss')}",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "endpoints": {
                "type": "array",
                "defaultValue": [
                    {
                        "source": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentattendance.csv",
                        "destinationDirectory": "contoso_sis",
                        "destinationFilename": "studentattendance/studentattendance.csv"
                    },
                    {
                        "source": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentdemographics.csv",
                        "destinationDirectory": "contoso_sis",
                        "destinationFilename": "studentdemographics/studentdemographics.csv"
                    },
                    {
                        "source": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/modules/Contoso_SIS/test_data/studentsectionmark.csv",
                        "destinationDirectory": "contoso_sis",
                        "destinationFilename": "studentsectionmark/studentsectionmark.csv"
                    }
                ]
            },
            "sinkFilesystem": {
                "type": "string",
                "defaultValue": "stage1np"
            },
            "timezone": {
                "type": "string",
                "defaultValue": "Eastern Standard Time"
            }
        },
        "variables": {
            "currentDateTime": {
                "type": "String"
            }
        },
        "annotations": []
    }
}