oea/modules/module_catalog/Ed-Fi/pipeline/Trigger All Entities.json
{
    "name": "Trigger All Entities",
    "properties": {
        "activities": [
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Check Descriptor Condition",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Check Descriptor Condition').output.Value",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Execute Pipeline1",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "Trigger Pipeline and wait on Completion",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "PipelineName": {
                                        "value": "@if(equals(item().order, 1), 'Ingest_Descriptors', concat('Ingest_', split(item().resource, '/')[2]))",
                                        "type": "Expression"
                                    },
                                    "PipelineParameters": {
                                        "value": "{\n    \"DistrictId\":\"@{pipeline().parameters.DistrictId}\",\n    \"SchoolYear\": \"@{pipeline().parameters.SchoolYear}\",\n    \"Directory\":\"@{pipeline().parameters.directory}\",\n}",
                                        "type": "Expression"
                                    },
                                    "WorkspaceName": {
                                        "value": "@pipeline().parameters.WorkspaceName",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Get All endpoints",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@{pipeline().parameters.BaseURL}/edfi/v@{pipeline().parameters.ApiVersion}/saas/core/metadata/data/v3/@{pipeline().parameters.InstanceId}/2022/dependencies",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "AutoResolveIntegrationRuntime",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET"
                }
            },
            {
                "name": "Check Descriptor Condition",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Get All endpoints",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@json(activity('Get All endpoints').output.Response)",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@if(pipeline().parameters.IncludeDescriptors, greaterOrEquals(item().order, 0), not(equals(item().order, 1)))",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "BaseURL": {
                "type": "string",
                "defaultValue": "https://api.edgraph.dev"
            },
            "ApiVersion": {
                "type": "string",
                "defaultValue": "5.3"
            },
            "InstanceId": {
                "type": "string",
                "defaultValue": "04501062-5a46-4871-be59-6bd6cd3f4cd9"
            },
            "directory": {
                "type": "string",
                "defaultValue": "Multiple"
            },
            "DistrictId": {
                "type": "string",
                "defaultValue": "255901"
            },
            "SchoolYear": {
                "type": "string",
                "defaultValue": "2017"
            },
            "IncludeDescriptors": {
                "type": "bool",
                "defaultValue": false
            },
            "WorkspaceName": {
                "type": "string",
                "defaultValue": "syn-oea-cisd-edfi1"
            }
        },
        "variables": {
            "isFinished": {
                "type": "Boolean"
            },
            "PipelineName": {
                "type": "String"
            }
        },
        "folder": {
            "name": "EdFi/Single District Per Instance"
        },
        "annotations": []
    }
}