framework/synapse/pipeline/get_latest_child_date.json
{
    "name": "get_latest_child_date",
    "properties": {
        "activities": [
            {
                "name": "Has Children",
                "type": "SynapseNotebook",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebook": {
                        "referenceName": "OEA_connector",
                        "type": "NotebookReference"
                    },
                    "parameters": {
                        "method_name": {
                            "value": "contains_children",
                            "type": "string"
                        },
                        "kwargs": {
                            "value": {
                                "value": "{'path':'@{pipeline().parameters.path}'}",
                                "type": "Expression"
                            },
                            "type": "string"
                        },
                        "workspace": {
                            "value": {
                                "value": "@pipeline().parameters.workspace",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    },
                    "snapshot": true,
                    "sparkPool": {
                        "referenceName": "spark3p2sm",
                        "type": "BigDataPoolReference"
                    },
                    "conf": {
                        "spark.dynamicAllocation.enabled": null,
                        "spark.dynamicAllocation.minExecutors": null,
                        "spark.dynamicAllocation.maxExecutors": null
                    },
                    "numExecutors": null
                }
            },
            {
                "name": "If Condition1",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Has Children",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Has Children').output.status.Output.result.exitValue",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Set variable1",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "pipelineReturnValue",
                                "value": [
                                    {
                                        "key": "latest_runtime",
                                        "value": {
                                            "type": "Null"
                                        }
                                    }
                                ],
                                "setSystemVariable": true
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Get Latest Runtime",
                            "type": "SynapseNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebook": {
                                    "referenceName": "OEA_connector",
                                    "type": "NotebookReference"
                                },
                                "parameters": {
                                    "method_name": {
                                        "value": "get_latest_runtime",
                                        "type": "string"
                                    },
                                    "kwargs": {
                                        "value": {
                                            "value": "{'path':'@{pipeline().parameters.path}',\n'pattern':'@{pipeline().parameters.pattern}'}",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "workspace": {
                                        "value": {
                                            "value": "@pipeline().parameters.workspace",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                },
                                "snapshot": true,
                                "sparkPool": {
                                    "referenceName": "spark3p2sm",
                                    "type": "BigDataPoolReference"
                                },
                                "conf": {
                                    "spark.dynamicAllocation.enabled": null,
                                    "spark.dynamicAllocation.minExecutors": null,
                                    "spark.dynamicAllocation.maxExecutors": null
                                },
                                "numExecutors": null
                            }
                        },
                        {
                            "name": "Set variable2",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "Get Latest Runtime",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "pipelineReturnValue",
                                "value": [
                                    {
                                        "key": "latest_runtime",
                                        "value": {
                                            "type": "Expression",
                                            "content": "@activity('Get Latest Runtime').output.status.Output.result.exitValue"
                                        }
                                    }
                                ],
                                "setSystemVariable": true
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "path": {
                "type": "string",
                "defaultValue": "stage1/Transactional/M365/v1.4.0/AadGroup/snapshot_batch_data"
            },
            "workspace": {
                "type": "string",
                "defaultValue": "dev"
            },
            "pattern": {
                "type": "string",
                "defaultValue": "rundate=%Y-%m-%d %H:%M:%S"
            }
        },
        "variables": {
            "latest_runtime": {
                "type": "String"
            }
        },
        "folder": {
            "name": "OEA_Framework"
        },
        "annotations": [],
        "lastPublishTime": "2023-03-22T20:31:37Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}