framework/synapse/pipeline/land_metadata_from_URL.json
{
	"name": "land_metadata_from_URL",
	"properties": {
		"description": "Copies the metadata from the specified URL and lands it in stage1 of the specified workspace.\nThe batchType parameter must be either 'delta', 'snapshot', or 'additive'",
		"activities": [
			{
				"name": "land_metadata_from_URL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set stage_path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_HTTP_binary",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@pipeline().parameters.URL",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_datalake_file",
						"type": "DatasetReference",
						"parameters": {
							"stage": {
								"value": "@variables('stage_path')",
								"type": "Expression"
							},
							"path": {
								"value": "Ingested/@{pipeline().parameters.sinkPath}",
								"type": "Expression"
							},
							"filename": "metadata.csv"
						}
					}
				]
			},
			{
				"name": "Set stage_path",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "stage_path",
					"value": {
						"value": "@if(equals(pipeline().parameters.workspace,'dev'), 'oea/dev/stage2', \n if(equals(pipeline().parameters.workspace,'prod'),'stage2',\n  concat(concat('oea/sandboxes/', pipeline().parameters.workspace), '/stage2')\n )\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"URL": {
				"type": "string",
				"defaultValue": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/framework/test_data/contoso_sis/metadata.csv"
			},
			"workspace": {
				"type": "string",
				"defaultValue": "dev"
			},
			"sinkPath": {
				"type": "string",
				"defaultValue": "contoso/v0.1"
			}
		},
		"variables": {
			"stage_path": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OEA_Framework"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-15T20:45:53Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}