framework/synapse/pipeline/land_data_from_URL.json
{
	"name": "land_data_from_URL",
	"properties": {
		"description": "Copies data from the specified URL and lands it in stage1 of the specified workspace.\nThe batchType parameter must be either 'delta', 'snapshot', or 'additive'",
		"activities": [
			{
				"name": "land_from_URL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set rundate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set stage_path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_HTTP_binary",
						"type": "DatasetReference",
						"parameters": {
							"URL": {
								"value": "@pipeline().parameters.URL",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_datalake_file",
						"type": "DatasetReference",
						"parameters": {
							"stage": {
								"value": "@variables('stage_path')",
								"type": "Expression"
							},
							"path": {
								"value": "Transactional/@{pipeline().parameters.sinkPath}/@{pipeline().parameters.batchType}_batch_data/rundate=@{variables('rundate')}",
								"type": "Expression"
							},
							"filename": {
								"value": "@pipeline().parameters.sinkFilename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set rundate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rundate",
					"value": {
						"value": "@utcNow(pipeline().parameters.datetimeFormat)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set stage_path",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "stage_path",
					"value": {
						"value": "@if(equals(pipeline().parameters.workspace,'dev'), 'oea/dev/stage1', \n if(equals(pipeline().parameters.workspace,'prod'),'stage1',\n  concat(concat('oea/sandboxes/', pipeline().parameters.workspace), '/stage1')\n )\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"URL": {
				"type": "string",
				"defaultValue": "https://raw.githubusercontent.com/microsoft/OpenEduAnalytics/main/framework/test_data/contoso_sis/day1/students/part1.csv"
			},
			"workspace": {
				"type": "string",
				"defaultValue": "dev"
			},
			"sinkPath": {
				"type": "string",
				"defaultValue": "contoso/v0.1/students"
			},
			"sinkFilename": {
				"type": "string",
				"defaultValue": "part1.csv"
			},
			"batchType": {
				"type": "string",
				"defaultValue": "snapshot"
			},
			"datetimeFormat": {
				"type": "string",
				"defaultValue": "yyyy-MM-dd HH:mm:ss"
			}
		},
		"variables": {
			"rundate": {
				"type": "String"
			},
			"stage_path": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OEA_Framework"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-18T22:13:01Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}